@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";
:root {
  font-family: "Lato", 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #16161a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-prim-50: #eeefff;
  --color-prim-100: #dcdeff;
  --color-prim-200: #b2bbff;
  --color-prim-300: #6d81ff;
  --color-prim-400: #2040ff;
  --color-prim-500: #0016ff;
  --color-prim-600: #0006df;
  --color-prim-700: #0003b4;
  --color-prim-800: #000595;
  --color-prim-900: #00047a;
  --color-prim-950: #000005;


}

